@model web.Models.Nutrition

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nutrition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.calories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.calories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.protein)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.protein)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.carbohydrates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.carbohydrates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.nutritionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
